{% extends 'crm/base.html' %}
{% load static %}
{% load doc_extensions %}
{% block title %}Галерея файлов для заявки №{{ service_request.id }}{% endblock %}


{% block content %}
<div class="container-lg container-fluid mt-3">
  <div class="card service-request-files-card">
    <div class="card-body"> 
      <h3 class="card-title text-center">Файлы для заявки №{{ service_request.id }}"</h3>

      <div class="docs-for-request">
        <a href="{{ service_request.get_absolute_url }}"><h4><i class="bi bi-arrow-left"></i> Назад к заявке</h4></a>
        <hr class="hr">

        <a class="btn-for-collapse-request-docs" data-bs-toggle="collapse" href="#collapseRequestDocsList" role="button" aria-expanded="false" aria-controls="collapseRequestDocsList">
          <h4 class="docs-list-title">Скрыть документы <i class="bi bi-arrow-up-circle"></i></h4>
        </a>

        {% if service_request.status != 'completed' %}
        <div class="add-docs mb-2">
          <button class="add-files-button verg-button-1 border-0" data-service_req_id="{{ service_request.id}}" data-url-for-add-item="{% url 'crm:service_request_add_files' %}" data-add-item-type="documents">
            Добавить документы <i class="bi bi-plus"></i> <i class="bi bi-file-text"></i>
          </button>
        </div>
        {% endif %}

        <div class="collapse show" id="collapseRequestDocsList">
          {% for document in documents %}
            {% with ext=document.file.url|get_file_extension %}
              <div id="document-item-{{ document.id }}" class="document-and-delete-btn d-flex align-items-center mt-1">
                <a target="_blank" href="{{ document.file.url }}" class="document-link" title="{{ document.file.url|get_document_name }}">
                  {% if ext == 'png' %}
                  <span><i class="bi bi-filetype-png h4"></i></span> {{ document.file.url|get_document_name|truncatechars:25 }}
                  {% elif ext == 'pdf' %} 
                    <span><i class="bi bi-filetype-pdf h4"></i></span> {{ document.file.url|get_document_name|truncatechars:25 }}
                  {% elif ext == 'doc'%} 
                    <span><i class="bi bi-filetype-doc h4"></i></span> {{ document.file.url|get_document_name|truncatechars:25 }}
                  {% elif ext == 'docx'%} 
                    <span><i class="bi bi-filetype-docx h4"></i></span> {{ document.file.url|get_document_name|truncatechars:25 }}
                  {% elif ext == 'xls' or ext == 'xlsx' %} 
                    <i class="bi bi-file-earmark-excel h4"></i> {{ document.file.url|get_document_name|truncatechars:20 }}
                  {% elif ext == 'ods' %} 
                    <i class="bi bi-file-earmark-spreadsheet h4"></i> {{ document.file.url|get_document_name|truncatechars:25 }}
                  {% endif %}
                </a>
                <button 
                  data-file-type="document" 
                  data-delete-file-url="{% url 'crm:service_request_delete_file' %}" 
                  data-file-id="{{ document.id }}" 
                  class="verg-button-danger delete-file-btn px-2 py-1">
                  <i class="bi bi-trash3"></i>
                </button>
              </div>
            {% endwith %}
          
          {% empty %}
          <h5 class="request-images-title">У заявки нет документов</h5>  
          {% endfor %}
        </div>
      </div>

      <hr class="hr">



      <h4 class="request-images-title">Изображения</h4>

      {% if service_request.status != 'completed' %}
      <div class="add-docs mb-2">
        <button class="add-files-button verg-button-1 border-0" data-service_req_id="{{ service_request.id}}" data-url-for-add-item="{% url 'crm:service_request_add_files' %}" data-add-item-type="images">
          Добавить изображения <i class="bi bi-plus"></i> <i class="bi bi-images"></i>
        </button>
      </div>
      {% endif %}

      <div class="row images-collection">

        {% for image in images %}
        <div class="col-md-2 col-4 image-for-request-item mt-2" id="image-item-{{ image.id }}">
          <a href="{{ image.file.url }}" data-lightbox="service_request_{{ service_request.id }}" data-title="{{ image.file.url|get_document_name }}">
              <img class="mb-0" src="{{ image.thumbnail_url }}" data-lightbox="image-{{ image.id }}">
          </a>
          <div class="image-name-and-delete-btn d-flex align-items-center mt-1">
            <span class="d-block mt-0">{{ image.file.url|get_document_name|truncatechars:10 }}</span>
            <button 
              data-file-type="image" 
              data-delete-file-url="{% url 'crm:service_request_delete_file' %}" 
              data-file-id="{{ image.id }}" 
              class="verg-button-danger delete-file-btn px-2 py-1">
              <i class="bi bi-trash3"></i>
            </button>
          </div>
        </div>
        {% empty %}
        <h5 class="request-images-title">У заявки нет изображений</h4>
        {% endfor %}
        

      </div>
    </div>  
  </div>
</div>





<!-- LightBox css -->
 <link rel="stylesheet" href="{% static 'crm/lightbox2-2.11.4/dist/css/lightbox.min.css' %}">
<!-- LightBox js -->
 <script src="{% static 'crm/lightbox2-2.11.4/dist/js/lightbox.min.js' %}"></script>
 <script>
    lightbox.option({
      'resizeDuration': 200,
      'wrapAround': true,
      'alwaysShowNavOnTouchDevices': true,
    })
</script>
<script src="{% static 'crm/js/files-gallery.js' %}"></script>

{% endblock %}