{% extends 'crm/base.html' %}

{% block title %}
Главная панель vergCRM
{% endblock %}

{% block content %}

<div class="container-md container-fluid mt-3">

    <div class="container-md container-fluid greet_user mb-4">
        <h4>Привет, {{ user.first_name }}.</h4>
    </div>

    <div class="container-md container-fluid requests-tasks-place">
        <div class="d-flex flex-row">
            <div class="my_requests">
                <a class="btn btn-success">Мои заявки</a>
            </div>
            <div class="my_tasks ms-3">
                <a type="button" class="btn btn-primary position-relative">
                    Мои задачи
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        5
                        <span class="visually-hidden"></span>
                    </span>
                </a>
            </div>
        </div>
    </div>

    <hr class="hr" />

    <div class="container-md container-fluid short-stat-table">
        Тут табличка
    </div>

</div>

{% endblock %}