{% extends 'crm/base.html' %}
{% load static %}
{% load doc_extensions %}
{% block title %}Галерея файлов для заявки №{{ service_request.id }}{% endblock %}


{% block content %}
<div class="container-lg container-fluid mt-3">
  <div class="card service-request-files-card">
    <div class="card-body"> 
      <h3 class="card-title text-center">Файлы для заявки №{{ service_request.id }}"</h3>

      <div class="docs-for-request">
        <a class="btn-for-collapse-request-docs" data-bs-toggle="collapse" href="#collapseRequestDocsList" role="button" aria-expanded="false" aria-controls="collapseRequestDocsList">
          <h4 class="docs-list-title">Посмотреть документы</h4>
        </a>
        <div class="collapse" id="collapseRequestDocsList">
          {% for document in documents %}
            {% with ext=document.file.url|get_file_extension %}
              <a target="_blank" href="{{ document.file.url }}" class="document-link" title="{{ document.file.url|get_document_name }}">
                {% if ext == 'png' %}
                <span><i class="bi bi-filetype-png h4"></i></span> {{ document.file.url|get_document_name|truncatechars:25 }}
                {% elif ext == 'pdf' %} 
                  <span><i class="bi bi-filetype-pdf h4"></i></span> {{ document.file.url|get_document_name|truncatechars:25 }}
                {% elif ext == 'doc'%} 
                  <span><i class="bi bi-filetype-doc h4"></i></span> {{ document.file.url|get_document_name|truncatechars:25 }}
                {% elif ext == 'docx'%} 
                  <span><i class="bi bi-filetype-docx h4"></i></span> {{ document.file.url|get_document_name|truncatechars:25 }}
                {% elif ext == 'xls' or ext == 'xlsx' %} 
                  <i class="bi bi-file-earmark-excel h4"></i> {{ document.file.url|get_document_name|truncatechars:20 }}
                {% elif ext == 'ods' %} 
                  <i class="bi bi-file-earmark-spreadsheet h4"></i> {{ document.file.url|get_document_name|truncatechars:25 }}
                {% endif %}
              </a>
            {% endwith %}
          {% endfor %}
        </div>
      </div>

      <hr class="hr">



      <h4>Изображения</h4>
      <div class="row">

        {% for image in images %}
        <div class="col-md-2 col-4 image-for-request-item mt-2">
        <a href="{{ image.file.url }}" data-lightbox="service_request_{{ service_request.id }}" data-title="{{ image.file.url|get_document_name }}">
            <img class="mb-0" src="{{ image.thumbnail_url }}" data-lightbox="image-{{ image.id }}">
            <span class="d-block mt-0">{{ image.file.url|get_document_name|truncatechars:10 }}</span>
        </a>
        </div>
        {% endfor %}
        

      </div>
    </div>  
  </div>
</div>





<!-- LightBox css -->
 <link rel="stylesheet" href="{% static 'crm/lightbox2-2.11.4/dist/css/lightbox.min.css' %}">
<!-- LightBox js -->
 <script src="{% static 'crm/lightbox2-2.11.4/dist/js/lightbox.min.js' %}"></script>
 <script>
    lightbox.option({
      'resizeDuration': 200,
      'wrapAround': true,
      'alwaysShowNavOnTouchDevices': true,
    })
</script>
<script src="{% static 'crm/js/files-gallery.js' %}"></script>

{% endblock %}