{% extends 'crm/base.html' %}
{% load static %}

{% block title %}Заявка №{{service_request.id}}{% endblock %}

{% block content %}


<!-- Modal for add cost price case -->
<div class="modal fade" 
id="addCostPriceCaseModal" 
tabindex="-1" 
aria-labelledby="addCostPriceCaseModalLabel" 
aria-hidden="true">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCostPriceCaseModalLabel">Новый кейс себестоимости</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body modal-body-add-cost-price-case">
        ...
      </div>
    </div>
  </div>
</div>
<!-- /Modal for add cost price case -->


<div class="container-md container mt-3 text-center">
    <h4>Заявка № {{ service_request.id }} ({{ service_request.get_status_display }})</h4>
</div>

<div class="container-md container service-request-detail-container mt-3">
    <div class="card service-request-card">
        <div class="card-body p-4">
            <!-- Client & properties row start -->
            <div class="row align-items-center">

                <!-- Client col-->
                <div class="col-md-9 col-12">
                    <h5 class="card-title">Клиент:</h5>
                    <div class="service_request-client">
                        <div class="service-request-client-placeholder mb-1">{{ service_request.client.name }}</div>
                    </div>
                </div>
                <!-- / Client col end-->

                <div class="d-md-none d-block">
                    <hr class="hr my-3 px-1">
                </div>
                
                <!-- Properties col -->
                 <div class="col-md-3 col-12 d-flex justify-content-md-end pe-4">
                    <div class="">
                        <h5 class="card-title text-md-end">Настройки <i class="bi bi-gear"></i></h5>

                        <div class="properties-dropdown-place d-flex justify-content-end">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle verg-button-1 border-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                  Открыть настройки
                                </button>
                                <ul class="dropdown-menu verg-dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item verg-dropdown-item" href="{% url 'crm:service_request_edit' %}?service_request_id={{ service_request.id }}">
                                        Редактировать заявку
                                      </a>
                                  </li>
                                  <li>
                                    <a class="dropdown-item verg-dropdown-item" href="#">
                                        {% if service_request.status == "in_progress" %}Закрыть заявку
                                        {% elif service_request.status == "completed" %}Возобновить заявку
                                        {% endif %}
                                    </a>
                                  </li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li><a class="dropdown-item delete-dropdown-item" href="#">Удалить заявку <i class="bi bi-x-circle"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                 </div>
                 <!-- /Add Task col -->
            </div>
            <!-- /Client & properties row end -->
            
            <hr class="hr">

            <h5 class="card-title">Детали заказа:</h5>
            <div class="service_request-description">
                {{ service_request.description }}
            </div>

            <hr class="hr">

            <!-- Start Row -->
            <div class="row">

                <!-- Адрес col-->
                <div class="col-md-9 col-12">
                <h5 class="card-title">Адрес <i class="bi bi-geo-alt"></i>:</h5>
                <div class="service_request-address">
                    {% if service_request.address %}
                    <div class="service-request-adress-placeholder mb-1">{{ service_request.address }}</div>
                    <div class="add-address-form d-none">
                        <form id="AddAddressForm" action="{% url 'crm:ajax_add_new_address' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="service-request" value="{{ service_request.id }}">
                            <textarea required name="address" minlength="5" maxlength="500" type="text" class="form-control" id="RequestDetailAddAdressInput" placeholder="Введите адрес"></textarea>
                            <div style="color: red" class="add-adress-error-place mt-2"></div>
                            <div class="confirm-add-address-buttons d-flex flex-row">
                                <button id="ConfirmAddAddressButton" type="submit" class="border-0 verg-button-green mt-2">Сохранить <i class="bi bi-check-circle"></i></button>
                                <button id="CancelAddAddressButton" type="button" class="border-0 verg-button-danger mt-2 ms-2">Отменить <i class="bi bi-x-circle"></i></button>
                            </div>
                        </form>
                    </div>
                    <a href="" id="RequestDetailAddAdressButton" class="change-address-button">Изменить адрес</a>
                    {% else %}
                    <span class="address-missing-alert-placeholder" style="color: red">Адрес пока не добавлен</span> 
                    <div class="service-request-adress-placeholder mb-1"></div>
                    <div class="add-address-form d-none">
                        <form id="AddAddressForm" action="{% url 'crm:ajax_add_new_address' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="service-request" value="{{ service_request.id }}">
                            <textarea required name="address" minlength="5" maxlength="500" type="text" class="form-control" id="RequestDetailAddAdressInput" placeholder="Введите адрес"></textarea>
                            <div style="color: red" class="add-adress-error-place mt-2"></div>
                            <div class="confirm-add-address-buttons d-flex flex-row">
                                <button id="ConfirmAddAddressButton" type="submit" class="border-0 verg-button-green mt-2">Сохранить <i class="bi bi-check-circle"></i></button>
                                <button id="CancelAddAddressButton" type="button" class="border-0 verg-button-danger mt-2 ms-2">Отменить <i class="bi bi-x-circle"></i></button>
                            </div>
                        </form>
                    </div>

                    <button id="RequestDetailAddAdressButton" type="button" class="border-0 verg-button-1 mt-2">Добавить адрес</button>
                    <a href="" id="RequestDetailAddAdressButton" class="d-none change-address-button">Изменить адрес</a>
                    {% endif %}
                </div>
                </div>
                <!-- / Адрес col-->

                <div class="d-md-none d-block">
                    <hr class="hr my-3 px-1">
                </div>
                
                
                <!-- Add Task col -->
                 <div class="col-md-3 col-12 d-flex justify-content-md-end pe-4">
                    <div class="">
                        <h5 class="card-title text-md-end">Задачи <i class="bi bi-list-task"></i></h5>

                        <div class="">
                            <button data-get-tasks-url="{% url 'crm:task_list_for_request' %}" id="getTasksForRequest" class="verg-button-1 border-0" style="height: 44px !important;">Задачи для заявки</button>
                        </div>
                    </div>
                 </div>
                 <!-- /Add Task col -->
            </div>
            <!-- End Row -->
            
            <hr class="hr">

            <!-- Финансы -->
            <h5 class="card-title">Расчет стоимости <i class="bi bi-cash-stack"></i>:</h5>
            <div class="coast-price-container">
                <table class="table table-bordered">
                    <tr>
                        <td>Себестоимость</td>
                        <td><div class="request-current-cost">{{ service_request.cost_price }} ₽</div></td>
                        <td class="w-25">
                            <button class="verg-button-1 border-0 w-100 py-2" 
                            data-call-offcanvas-url="{% url 'crm:ajax_calculate-cost-price' %}"
                            data-service-request-id="{{ service_request.id }}"
                            id="callCulateCostPriceOffcanvasButton"
                            type="button">Рассчитать себестоимость</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Стоимость</td>
                        <td>
                            <span class="current-total-price-placeholder">{{ service_request.total_price }} ₽</span>
                            <form class="d-none" action="{% url 'crm:ajax_change_request_total_price' %}" id="changeTotalPriceForm" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="service_id" value="{{ service_request.id }}">
                                <input class="form-control" min="1" type="number" name="new_total_price" id="newTotalPriceInput" required placeholder="введите стоимость">
                                <div style="color: red" class="total-price-error-place mt-2"></div>
                                <div class="confirm-total-price-buttons d-flex flex-row">
                                    <button id="ConfirmTotalPriceButton" type="submit" class="border-0 verg-button-green mt-2">Сохранить <i class="bi bi-check-circle"></i></button>
                                    <button id="CancelTotalPriceButton" type="button" class="border-0 verg-button-danger mt-2 ms-2">Отменить <i class="bi bi-x-circle"></i></button>
                                </div>
                            </form>
                        </td>
                        <td class="w-25"><button id="initialChangeTotalPriceButton" class="verg-button-1 border-0 w-100" type="button">Изменить стоимость</button>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>Прибыль</td>
                        <td><span class="request-profit-placeholder">{{ profit }}</span></td>
                        <td></td>
                    </tr>
                </table>
            </div>

            <!-- /Финансы -->

            <hr class="hr">
            <h5 class="card-title">Заметки <i class="bi bi-pen"></i>:</h5>

            <button 
            class="verg-button-1 mt-2 border-0" 
            data-bs-toggle="modal" 
            data-bs-target="#addNewNoteModal">Добавить заметку</button>

            <div class="notes-container mt-3">
                {% for note in service_request.notes.all %}
                    <div id="note_{{ note.id }}" class="note-for-service-request">
                        <span class="text-muted">{{ note.created_at }}</span> <hr class="hr mt-1 mb-2">
                        {{ note.text}} 
                        
                    </div>
                {% empty %}
                    <div class="no-notes">
                        <span class="mt-2 d-block">У этой заявки пока нет заметок.</span>
                    </div>
                {% endfor %}
            </div>
            
            
        </div>
    </div>
</div>



{% include 'crm/incl/modal_for_add_new_note.html' %}


{% endblock %}

{% block scripts %}
<script>
    var currentServiceRequestId = {{ service_request.id }}
</script>
<script src="{% static 'crm/js/service-request-detail.js' %}"></script>
{% endblock %}