{% extends 'crm/base.html' %}
{% load static %}

{% block title %}Заявка №{{service_request.id}}{% endblock %}

{% block content %}


<div class="container-md container mt-3 text-center">
    <h4>Заявка № {{ service_request.id }} ({{ service_request.get_status_display }})</h4>
</div>

<div class="container-md container service-request-detail-container mt-3">
    <div class="card service-request-card">
        <div class="card-body p-4">

            <h5 class="card-title">Клиент: <i>{{ service_request.client.name }}</i></h5>
            <hr class="hr">
            <h5 class="card-title">Услуга: <i>{{ service_request.service.title }}</i></h5>
            
            <hr class="hr">

            <h5 class="card-title">Детали заказа:</h5>
            <div class="service_request-description">
                {{ service_request.description }}
            </div>

            <hr class="hr">

            <!-- Адрес -->
            <h5 class="card-title">Адрес <i class="bi bi-geo-alt"></i>:</h5>
            <div class="service_request-address">
                {% if service_request.address %}
                <div class="service-request-adress-placeholder mb-1">{{ service_request.address }}</div>
                <div class="add-address-form d-none">
                    <form id="AddAddressForm" action="{% url 'crm:ajax_add_new_address' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="service-request" value="{{ service_request.id }}">
                        <textarea required name="address" minlength="5" maxlength="500" type="text" class="form-control" id="RequestDetailAddAdressInput" placeholder="Введите адрес"></textarea>
                        <div style="color: red" class="add-adress-error-place mt-2"></div>
                        <div class="confirm-add-address-buttons d-flex flex-row">
                            <button id="ConfirmAddAddressButton" type="submit" class="border-0 verg-button-green mt-2">Сохранить <i class="bi bi-check-circle"></i></button>
                            <button id="CancelAddAddressButton" type="button" class="border-0 verg-button-danger mt-2 ms-2">Отменить <i class="bi bi-x-circle"></i></button>
                        </div>
                    </form>
                </div>
                <a href="" id="RequestDetailAddAdressButton" class="change-address-button">Изменить адрес</a>
                {% else %}
                <span class="address-missing-alert-placeholder" style="color: red">Адрес пока не добавлен</span> 
                <div class="service-request-adress-placeholder mb-1"></div>
                <div class="add-address-form d-none">
                    <form id="AddAddressForm" action="{% url 'crm:ajax_add_new_address' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="service-request" value="{{ service_request.id }}">
                        <textarea required name="address" minlength="5" maxlength="500" type="text" class="form-control" id="RequestDetailAddAdressInput" placeholder="Введите адрес"></textarea>
                        <div style="color: red" class="add-adress-error-place mt-2"></div>
                        <div class="confirm-add-address-buttons d-flex flex-row">
                            <button id="ConfirmAddAddressButton" type="submit" class="border-0 verg-button-green mt-2">Сохранить <i class="bi bi-check-circle"></i></button>
                            <button id="CancelAddAddressButton" type="button" class="border-0 verg-button-danger mt-2 ms-2">Отменить <i class="bi bi-x-circle"></i></button>
                        </div>
                    </form>
                </div>

                <button id="RequestDetailAddAdressButton" type="button" class="border-0 verg-button-1 mt-2">Добавить адрес</button>
                <a href="" id="RequestDetailAddAdressButton" class="d-none change-address-button">Изменить адрес</a>
                {% endif %}
            </div>
            <!-- / Адрес -->
            

            <hr class="hr">
            <h5 class="card-title">Заметки <i class="bi bi-pen"></i>:</h5>

            <div class="notes-container">
                {% for note in service_request.notes.all %}
                    <div id="note_{{ note.id }}" class="note-for-service-request">
                        <span class="text-muted">{{ note.created_at }}</span> <hr class="hr mt-1 mb-2">
                        {{ note.text}} 
                        
                    </div>
                {% empty %}
                    <div class="">
                        <span class="mt-2 d-block">У этой заявки пока нет заметок.</span>
                    </div>
                {% endfor %}
            </div>
            <button 
            class="verg-button-1 mt-2 border-0" 
            data-bs-toggle="modal" 
            data-bs-target="#addNewNoteModal">Добавить заметку</button>
            
        </div>
    </div>
</div>



{% include 'crm/incl/modal_for_add_new_note.html' %}


{% endblock %}

{% block scripts %}
<script src="{% static 'crm/js/service-request-detail.js' %}"></script>
{% endblock %}