<div class="container-fliud task-list-for-service-request-container {% if tasks.count == 0 %}d-none{% endif %}">
    <div class="task-list-filter-buttons">
        <button class="verg-button-1 task-list-filter-button border-0 {% if filtered_by == 'all' %}verg-button-1-active{% endif %}" 
                data-url-for-tasks="{% url 'crm:task_list_for_request' %}"
                data-filter-by="all">
            Все задачи
        </button>
        <button class="verg-button-1 task-list-filter-button border-0 {% if filtered_by == 'expired' %}verg-button-1-active{% endif %}" 
                data-url-for-tasks="{% url 'crm:task_list_for_request' %}"
                data-filter-by="expired">
            Просроченные
        </button>
        <button class="verg-button-1 task-list-filter-button border-0 {% if filtered_by == 'is_completed' %}verg-button-1-active{% endif %}" 
                data-url-for-tasks="{% url 'crm:task_list_for_request' %}"
                data-filter-by="is_completed">
            Завершенные
        </button>
    </div>
    <div class="add-new-task-for-request-buttons mt-2" id="addNewTaskForRequestButton">
        <button data-url-for-add-task="{% url 'crm:get_modal_for_add_task_for_request' %}" class="verg-button-1 border-0" type="button" id="addNewTaskForRequestButton">
            Новая задача &nbsp;
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"></path>
            </svg>
        </button>
    </div>
    <table class="table rounded-table tasks-list-table mt-2">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Срок выполнения</th>
            <th scope="col">Завершена</th>
            <th scope="col">Просрочена</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{task.title}}</td>
            <td>{{task.must_be_completed_by}}</td>
            <td>
                {% if task.is_completed %}
                <span style="color: green">
                    Завершена
                </span>
                {% else %}
                <span>
                    Не завершена
                </span>
                {% endif %}
            </td>
            <td>
                {% if task.expired %}
                <span style="color: red">
                    Просрочена
                </span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
