<!-- Modal for action confirmation -->
<div myattr="HELLO!" class="modal fade" id="actionConfirmationModal" tabindex="-1" aria-labelledby="actionConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="actionConfirmationModalLabel">Подтверждение действия</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5 class="action-confirmation-text"></h5>
            <button id="actionConfirmationYesButton" class="verg-button-1 mt-3 border-0 w-100" type="button">Подтвердить <i class="bi bi-check-circle"></i></button>
        </div>
      </div>
    </div>
</div>
