{% load static %}

<div class="modal fade" id="confirmDeleteServiceRequestModal" tabindex="-1" aria-labelledby="confirmDeleteServiceRequestModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content confirm-delete-request-modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="confirmDeleteServiceRequestModalLabel">Подтвердите удаление</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <h6>Вы действительно хотите удалить заявку?</h6>
            <h6>Так же будут удалены все задачи, заметки и напоминания привязанные к заявке.</h6>
            <hr class="hr">
            <div class="">
                <h5>Информация о заявке:</h5>
                Номер: <b>{{ service_request.id }}</b> <br>
                Услуга: <b>{{ service_request.service.title }}</b> <br>
                Клиент: <b>{{ service_request.client.name }}</b>
            </div>
            </div>
            <form action="{% url 'crm:delete_service_request' %}" method="post" id="finalDeleteServiceRequestForm">
                {% csrf_token %}
                <input type="hidden" name="delete_service_request" value="{{ service_request.id }}">
                <div class="modal-footer">
                    <button type="submit" class="verg-button-green border-0">Да, я хочу удалить <i class="bi bi-check-circle"></i></button>
                    <button type="button" class="verg-button-danger border-0" data-bs-dismiss="modal">Отменить удаление <i class="bi bi-x-circle"></i></button>
                </div>
            </form>
            
        </div>
        <div class="delete-loader d-none">
            <div class="loader-circle-9">
                Удаление
                <span></span>
            </div>
        </div>
    </div>
    <script src="{% static 'crm/js/confirm-delete-service-request.js' %}"></script>
</div>



