{% load static %}

<script class="datetime-tempus-script">
  new tempusDominus.TempusDominus(
    document.getElementById('must_be_completed_by'),
    {
      localization: {
        locale: 'ru',
        format: 'dd.MM.yyyy HH:mm',  // Формат как в Flatpickr
        hourCycle: 'h23',             // 24-часовой формат
        today: 'Перейти к сегодняшней дате',
        clear: 'Очистить',
        close: 'Ok',
        selectMonth: 'Выбрать месяц',
        previousMonth: 'Предыдущий месяц',
        nextMonth: 'Следующий месяц',
        selectYear: 'Выбрать год',
        previousYear: 'Предыдущий год',
        nextYear: 'Следующий год',
        selectDecade: 'Выбрать десятилетие',
        previousDecade: 'Предыдущее десятилетие',
        nextDecade: 'Следующее десятилетие',
        previousCentury: 'Предыдущий век',
        nextCentury: 'Следующий век',
        pickHour: 'Выбрать час',
        incrementHour: 'Увеличить час',
        decrementHour: 'Уменьшить час',
        pickMinute: 'Выбрать минуты',
        incrementMinute: 'Увеличить минуты',
        decrementMinute: 'Уменьшить минуты',
        pickSecond: 'Выбрать секунды',
        incrementSecond: 'Увеличить секунды',
        decrementSecond: 'Уменьшить секунды',
        toggleMeridiem: 'Переключить AM/PM',
        selectTime: 'Выбрать время',
        selectDate: 'Выбрать дату'
      },
      display: {
        components: {
          calendar: true,    // Включает всю календарную часть
          date: true,
          month: true,
          year: true,
          hours: true,
          minutes: true,
          seconds: false     // Секунды не нужны
        },

        buttons: {
          // today: true,       // Кнопка "Сегодня"
          clear: true,       // Кнопка "Очистить"
          close: true,        // Кнопка "Закрыть"
        },
        theme: 'auto',
        icons: {
          time: 'bi bi-clock',       // Иконка времени
          date: 'bi bi-calendar3',   // Иконка даты
          up: 'bi bi-chevron-up',    // Стрелка вверх
          down: 'bi bi-chevron-down', // Стрелка вниз
          clear: 'bi bi-trash3',
          close: 'bi bi-check',
          previous: 'bi bi-chevron-left',
          next: 'bi bi-chevron-right',
        }
      },
      restrictions: {
        minDate: new Date("{{ task.must_be_completed_by|date:'Y-m-d H:i' }}"), // Аналог minDate
      },
      defaultDate: new Date("{{ task.must_be_completed_by|date:'Y-m-d H:i' }}"), // Аналог defaultD
    }
  );
</script>






<div class="modal fade" id="TaskForRequestDetailModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="TaskForRequestDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TaskForRequestDetailModalLabel">{{ task.title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <input type="hidden" name="notifications_status" value="{% if task.notifications %}ON{% else %}OFF{% endif %}">
      <div class="modal-body">
        <form id="updateTaskForRequest" action="{% url 'crm:task_for_request_detail' %}" method="post">
          {% csrf_token %}
          {% if task.expired %}<h5 style="color: red">Задача просрочена</h5>{% endif %}
          {% if task.is_completed %}<h5 style="color: green">Задача завершена</h5>{% endif %}
          <input type="hidden" name="manager_id" value="{{ task.manager.id }}" required>
          <input type="hidden" name="task_id" value="{{ task.id }}" required>
          <input minlength="5" maxlength="50" name="title" type="text" class="form-control mb-2"
            value="{{ task.title }}" required readonly>
          <textarea minlength="5" rows="7" class="form-control" name="text" id="" required
            readonly>{{ task.text }}</textarea>
          <hr class="hr mb-2">
          {% if not task.is_completed %}
          <!-- Если задача не завершена -->
          <!-- Срок выполнения задачи -->
          <div class="d-flex">
            <h6 class="me-2">Срок выполнения задачи.</h6>
            <div style="cursor:help" data-bs-toggle="tooltip" data-bs-placement="top"
              title="Дата и время выполнения задачи.">
              <i class="bi bi-info-circle"></i>
            </div>
          </div>
          <div class="actual_must_be_completed_by">
            Текущий срок выполнения задачи: <span style="color: green">до {{ task.must_be_completed_by|date:'d.m.Y H:i'}}</span>
          </div>
          <div required
            class="datetime-for-task-container d-flex flex-column align-items-start justify-content-end d-none">
            <label for="must_be_completed_by">
              <h6 class="mb-1">Изменить срок</h6>
            </label>
            <input autocomplete="off" required type="text" name="must_be_completed_by" id="must_be_completed_by"
              class="flatpickr w-50 form-control" placeholder="выбрать дату">
          </div>
          <!-- Срок выполнения задачи end-->
          <hr class="hr mt-3 mb-2">

          <!-- Оповещение о сроках -->
          <div class="d-flex">
            <h6 class="me-2">Оповещение о сроке выполнения</h6>
            <div style="cursor:help" data-bs-toggle="tooltip" data-bs-placement="top"
              title="Оповещение о сроках выполнения задачи (за день, за час, и в момент окончания срока исполнения).">
              <i class="bi bi-info-circle"></i>
            </div>
          </div>
          <div class="actual_notifications_status">
            {% if task.notifications %}<span style="color: green">Включено</span>{% else %}<span
              style="color: red">Выключено</span>{% endif %}
          </div>
          <label class="switch-1 d-flex align-items-center justify-content-start d-none">
            <div class="">Выключить</div>
            <input name="notifications" type="checkbox" />
            <span class="check-slider-1 mx-2"></span>
            <div class="">Включить</div>
          </label>
          <!-- Оповещение о сроках end-->

          <hr class="hr mt-3 mb-2">

          <!-- Напоминания о задаче -->
          <div class="d-flex">
            <h6 class="me-2">Напоминания</h6>
            <div style="cursor:help" data-bs-toggle="tooltip" data-bs-placement="top" title="Напоминания для задачи.">
              <i class="bi bi-info-circle"></i>
            </div>
          </div>
          {% for reminder in task.reminders.all %}
          <div class="existing-reminder d-flex align-items-center justify-content-between my-1" id="reminder{{ reminder.id }}">
            <div class="reminder_info">
              {{ forloop.counter }}. <b>{{ reminder.get_mode_display }}.</b>
              {% if reminder.mode == 'once' %}
              Дата и время напоминания: <span style="color: green">{{ reminder.scheduled_datetime|date:'d.m.Y в H:i' }}</span>
              {% elif reminder.mode == 'recurring' %}
              Дни:<span style="color: green"> 
              {% for day in reminder.recurring_days %}
                  {% if day == 'mon' %}Пн
                  {% elif day == 'tue' %}Вт
                  {% elif day == 'wed' %}Ср
                  {% elif day == 'thu' %}Чт
                  {% elif day == 'fri' %}Пт
                  {% elif day == 'sat' %}Сб
                  {% elif day == 'sun' %}Вс
                  {% endif %}{% if not forloop.last %},{% endif %}
              {% endfor %}
              в {{ reminder.recurring_time|time:'H:i' }}
              {% endif %}
              </span> 
            </div>
            <div class="reminder-deleter-button">
              <button type="button" class="verg-button-danger px-3 py-1 border-0" data-bs-toggle="collapse" data-bs-target="#confirmDeleteReminderCollapse-{{ reminder.id }}" aria-expanded="false" aria-controls="confirmDeleteReminderCollapse-{{ reminder.id }}">
                <i class="bi bi-trash3"></i>
              </button>
              <div class="collapse mt-1" id="confirmDeleteReminderCollapse-{{ reminder.id }}">
                <div class="card card-body delete-reminder-confirm-card">
                  <h6>Удалить напоминание?</h6>
                  <button data-url-for-delete-reminder="{% url 'crm:delete_reminder' %}" data-delete-existing-reminder="{{ reminder.id }}" class="confirm-delete-reminder verg-button-danger px-4 border-0" type="button">Да, удалить</button>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
          У задачи нет напоминаний
          {% endfor %}





          <div class="add-reminder-in-task-for-request-detail d-none">
            <hr class="hr mt-3 mb-3">
            <div class="add_reminder_placeholder">

            </div>
            <button id="add-card-for-reminder-btn" class="verg-button-1 border-0" type="button"
              data-url-for-new-reminder-card="{% url 'crm:add_new_reminder_card' %}">
              Добавить напоминание <i class="bi bi-bell"></i>
            </button>
          </div>

          <!-- Напоминания о задаче end -->


          <!-- Срок выполнения задачи end-->

          <div style="color: red; font-weight: 600;" class="update-task-error-place mt-2"></div>
          <hr class="hr">
          <button type="submit" class="verg-button-green save-task-changes d-none">Сохранить изменения</button>
          <button type="button" class="verg-button-danger cancel-task-changes d-none"
            data-bs-dismiss="modal">Отменить</button>
        </form>
        <div class="d-flex justify-content-between">
          <div class="edit-task-for-request">
            <button id="editTaskForRequest" class="verg-button-1 border-0">Редактировать</button>
          </div>
          <div class="complete-or-open-new-tab">
            <button data-task-id="{{ task.id }}" data-url-for-complete-task="{% url 'crm:make_task_is_completed' %}" class="verg-button-green complete-task-button">Завершить задачу</button>
            <a href="{{ task.get_absolute_url }}" target="_blank" class="px-3 verg-transperent-button border-0" title="Открыть в новой вкладке"><i class="bi bi-fullscreen"></i></a>
          </div>
        </div>
        

        <hr class="hr delete-task-hr d-none">
        <button data-delete-url="{% url 'crm:delete_task_for_request' %}" data-task-id="{{task.id}}" id="deleteTask"
          class="verg-button-danger d-none">Удалить задачу</button>


        <!-- Если задача завершена -->
        {% else %}
        <button data-task-id="{{ task.id }}" data-url-for-resume-task="{% url 'crm:resume_task' %}" class="verg-button-green resume-task-button">Возобновить задачу</button>

        {% endif %}

      </div>
    </div>
  </div>
  <script src="{% static 'crm/js/task-for-request-detail.js' %}"></script>
</div>