{% load static %}

<div class="offcanvas offcanvas-end w-75" tabindex="-1" id="offcanvasAllTaskList" aria-labelledby="offcanvasAllTaskListLabel">
  <div class="offcanvas-header border-bottom py-1">
    <h5 id="offcanvasRightLabel">Задачи</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body task-list-for-service-request-offcanvas-body pt-0">
    {% if tasks.count == 0 %} 
    <h4 class="no-tasks">У заявки пока нет задач.</h4>
    <button data-url-for-add-task="{% url 'crm:add_task_for_request' %}" class="verg-button-1 border-0" type="button" id="addNewTaskForRequestButton">
        Новая задача &nbsp;
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"></path>
        </svg>
    </button>
    {% endif %}

    <div class="container-fliud task-list-for-service-request-container {% if tasks.count == 0 %}d-none{% endif %}">
        <div class="task-list-filter-buttons">
            <button class="verg-button-1 task-list-filter-button border-0 {% if not filtered_by or filtered_by == 'all' %}verg-button-1-active{% endif %}" 
                    data-url-for-tasks="{% url 'crm:task_list_for_request' %}"
                    data-filter-by="all">
                Все задачи
            </button>
            <button class="verg-button-1 task-list-filter-button border-0 {% if filtered_by == 'active' %}verg-button-1-active{% endif %}" 
                    data-url-for-tasks="{% url 'crm:task_list_for_request' %}"
                    data-filter-by="active">
                Активные
            </button>
            <button class="verg-button-1 task-list-filter-button border-0 {% if filtered_by == 'completed' %}verg-button-1-active{% endif %}" 
                    data-url-for-tasks="{% url 'crm:task_list_for_request' %}"
                    data-filter-by="completed">
                Завершенные
            </button>
        </div>
        <div class="add-new-task-for-request-buttons mt-2">
            <button data-url-for-add-task="{% url 'crm:add_task_for_request' %}" class="verg-button-1 border-0" type="button" id="addNewTaskForRequestButton">
                Новая задача &nbsp;
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"></path>
                </svg>
            </button>
        </div>
        
        <table class="table rounded-table tasks-list-table mt-2">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Срок выполнения</th>
                <th scope="col">Завершена</th>
                <th scope="col">Просрочена</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}  
            <tr>
                <td><a class="taskDetailLink" data-task-id="{{ task.id }}" href="{% url 'crm:task_for_request_detail' %}">{{task.title}}</a></td>
                <td>{{task.must_be_completed_by}}</td>
                <td>
                    {% if task.is_completed %}
                    <span style="color: green">
                        Завершена
                    </span>
                    {% else %}
                    <span>
                        Не завершена
                    </span>
                    {% endif %}
                </td>
                <td>
                    {% if task.expired %}
                    <span style="color: red">
                        Просрочена
                    </span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

  </div>

<script src="{% static 'crm/js/task-list-for-request.js' %}"></script>
</div>